version: '3.7'

services:
  game_lobby_{{ uuid }}:
    image: {{ game_image }}
    environment:
      - LOBBY_UUID={{ uuid }}
    networks:
      - core_services_backend
    deploy:
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.game_lobby_{{ uuid }}.rule=Host(`{{ uuid }}.{{ domain }}`)"
        - "traefik.http.routers.game_lobby_{{ uuid }}.entrypoints=web"
        - "traefik.http.services.game_lobby_{{ uuid }}.loadbalancer.server.port=3001"

networks:
  core_services_backend:
    external: true

