services:
  game_lobby_{{ id }}:
    image: {{ game_image }}
    environment:
      - LOBBY_ID={{ id }}
    networks:
      - core_services_backend
    deploy:
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.game_lobby_{{ id }}.rule=Host(`{{ id }}.{{ domain }}`)"
        - "traefik.http.routers.game_lobby_{{ id }}.entrypoints=web"
        - "traefik.http.services.game_lobby_{{ id }}.loadbalancer.server.port=3001"

networks:
  core_services_backend:
    external: true

